@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
}

@font-face {
    font-family: 'DIN-Condensed-Bold';
    src: url('/fonts/DIN-Condensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*, body {
    padding: 0;
    margin: 0;
    font-family: "";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.animate-slide-up {
    animation: slide-up linear infinite;
    filter: drop-shadow(0px 0px 4px #57575a);
}

.animate-slide-down {
    animation: slide-down linear infinite;
    filter: drop-shadow(0px 0px 4px #57575a);
}

.animate-slide-up, .animate-slide-down {
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: drop-shadow(0px 0px 4px #57575a);
}

.login-image-carousel img {
    margin-bottom: 15px;
}

/* .left-corner {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 220px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 130px solid #1d4ed8;
}

.right-corner {
    width: 0;
    height: 0;
    border-left: 220px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 130px solid #1d4ed8;
} */